{% extends "bootstrap/base.html" %}
{% block content %} 

<html>
    <style type="text/css">
		body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
}
		.spinner-1:before{
			content: "";
			box-sizing: border-box;
			position: absolute;
			top:50%;
			left: 50%;
			height: 60px;
			width: 60px;
			margin-top: -30px;
			margin-left: -30px;
			border-radius: 50%;
			border:6px solid transparent;
			border-top-color: blue;
			animation: spinner 0.7s linear infinite;
		}
                 .jumbotron text-center{
                  background-color:green;
                  text-color:white;
                   }
		@keyframes spinner {
			to {
				transform: rotate(360deg);
			}

		}
		li { background-color:#BDBDBD; }
		li:nth-child(odd) { background-color:green; }
	</style>

<div class = "container">
    <div class = "jumbotron text-center">
        <h3>Sentiment Analysis using Natural Language Processing</h3>
        <p>A Text Summarization Tool</p>
    </div>
</div>

<div class = "container">
    <form method="POST" action="{{url_for('analyze')}}" id = "myForm">
        <label><strong>Enter your text below</strong></label><br>
        <textarea class="form-control" rows="20" cols="40" name="rawText"></textarea><br>
    
        <input type="submit" onclick="myAnalyzer()" value="Submit" class="btn btn-primary">
        <input type="button" onclick="myFunction()" value="Clear" class="btn btn-outline-dark">
        
        <a href="{{url_for('index')}}" type="button" class="btn btn-danger">Reset</a>

    </form>
</div>
<br>
<hr>

<div class="main">
       
    <div class="container">
        <div class="card">
            <div class = "card-header">
                Your raw text<br><br>
                {{rawText}}
                <br><br>    
                Overall Analysis with Textblob
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <div class="alert alert-primary" role="alert">
                        This text has {{number_of_tokens}} tokens.<br>                 
                    </div>
                </h5>
            <!---
            <div class="text">
                <h5>Your Text</h5>
                <p>Time Elapsed
                <span style="color:rgb(132, 132, 226)">{{final_time}}</span>
                </p>
                
                <p>This text is about </p>
                {% for i in summary %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info"><span style="color:black">{{i}}</span>
                    <a href="http://www.dictionary.com/browse/{{i}}?s=" target="_blank" type="button" class = "btn btn-outline-primary btn-sm" style="float:right;font-size:9px;color:white;">View</a>
                    </li>
                
                </ul>
                {% endfor %} 
            </div>
            --->
<div class="card-footer text-muted">
    <table class="table table-stripes table-dark">
        <thead> Overall Sentiment Score using textblob
            <tr>
                <th scope="col">Sentiment</th>
                <th scope="col">Polarity</th>
                <th scope="col">Subjectivity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Score:</th>
                <td>{{blob_sentiment}}</td>
                <td>{{blob_subjectivity}}</td>
            </tr>
        </tbody>
    </table>
</div>
        </div>
    </div>

    <div class="card">
        <div class = "card-header">
            Overall Emotion Scores with text2emotion
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <div class="alert alert-primary" role="alert">
                    Analysis of overall emotion scores
                </div>
            </h5>
<div class="card-footer text-muted">
<table class="table table-stripes table-dark">
    <thead>
        <tr>
            <th scope="col">Emotion</th>
            <th scope="col">Happy</th>
            <th scope="col">Angry</th>
            <th scope="col">Surprise</th>
            <th scope="col">Sad</th>
            <th scope="col">Fear</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Score:</th>
            <td>{{blob_emotion['Happy']}}</td>
            <td>{{blob_emotion['Angry']}}</td>
            <td>{{blob_emotion['Surprise']}}</td>
            <td>{{blob_emotion['Sad']}}</td>
            <td>{{blob_emotion['Fear']}}</td>
        </tr>
    </tbody>
</table>
</div>
    </div>
</div>




    <div class="card">
        <div class = "card-header">
            Overall Sentiment Scores with Vader sentiment
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <div class="alert alert-primary" role="alert">
                    Analysis of overall sentiment scores with Vader
                </div>
            </h5>
<div class="card-footer text-muted">
<table class="table table-stripes table-dark">
    <thead>
        <tr>
            <th scope="col">Sentiment</th>
            <th scope="col">Positive</th>
            <th scope="col">Neutral</th>
            <th scope="col">Negative</th>
            <th scope="col">Compound</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Score:</th>
            <td>{{vader_overall['pos']}}</td>
            <td>{{vader_overall['neu']}}</td>
            <td>{{vader_overall['neg']}}</td>
            <td>{{vader_overall['compound']}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
    </div>
</div>

<div class="card">
    <div class = "card-header">
        Individual Sentence Score with Vader
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <div class="alert alert-primary" role="alert">
                Analysis of each sentence with vader
            </div>
        </h5>
<div class="card-footer text-muted">

<p>Individual sentence analysis using vader </p>
{% for i in range(0,number_of_sentences) %}
<ul>
    <li style="background-color:white;"><span style="color:black">{{blob.sentences[i]}}</span>
        <ul color="black" style="background-color:white;"> <font color="black">
            <li>
                <p style="background-color:white;">Positive = {{vader_sentence[i]['pos']}}<p>
            </li>
            <li>
                <p style="background-color:white;">Neutral = {{vader_sentence[i]['neu']}}</p>
            </li>
            <li>
                <p style="background-color:white;">Negative = {{vader_sentence[i]['neg']}}</p>
            </li>
            <li>
                <p style="background-color:white;">Compound = {{vader_sentence[i]['compound']}}</p>
            </li>
            </font>
        </ul>
    </li>

</ul>
{% endfor %} 
</div>
</div>
</div>


</div>
{% endblock %}

{% block scripts %} 
{{ super()}} 

<script>
    function myFunction() {
        document.getElementById("myForm").reset();
    }
    function myAnalyzer() {
        document.querySelector(".main div").style.display="none";
        document.querySelector(".main").classList.add("spinner-1");
        setTimeout(() =>{
            document.querySelector(".main").classList.remove("spinner-1")
            document.querySelector(".main div").style.display="block";
        },5000);
    }
</script>
{% endblock %}}
</html>
